<!doctype html>
<html>
<head>
  <title>Word Cloud generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
      <h2>Give me your words!</h2>
      <form role="form" action="/" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="raw_text" name="raw_text" placeholder="Enter your text here">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
</body>
</html>
